We/Connected Services/ServiceReference1/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="VNDToUSD">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="money" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VNDToUSDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="VNDToUSDResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VNDToEUR">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="money" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VNDToEURResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="VNDToEURResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="USDToVND">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="money" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="USDToVNDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="USDToVNDResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EURToVND">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="money" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EURToVNDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EURToVNDResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="VNDToUSDSoapIn">
    <wsdl:part name="parameters" element="tns:VNDToUSD" />
  </wsdl:message>
  <wsdl:message name="VNDToUSDSoapOut">
    <wsdl:part name="parameters" element="tns:VNDToUSDResponse" />
  </wsdl:message>
  <wsdl:message name="VNDToEURSoapIn">
    <wsdl:part name="parameters" element="tns:VNDToEUR" />
  </wsdl:message>
  <wsdl:message name="VNDToEURSoapOut">
    <wsdl:part name="parameters" element="tns:VNDToEURResponse" />
  </wsdl:message>
  <wsdl:message name="USDToVNDSoapIn">
    <wsdl:part name="parameters" element="tns:USDToVND" />
  </wsdl:message>
  <wsdl:message name="USDToVNDSoapOut">
    <wsdl:part name="parameters" element="tns:USDToVNDResponse" />
  </wsdl:message>
  <wsdl:message name="EURToVNDSoapIn">
    <wsdl:part name="parameters" element="tns:EURToVND" />
  </wsdl:message>
  <wsdl:message name="EURToVNDSoapOut">
    <wsdl:part name="parameters" element="tns:EURToVNDResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="VNDToUSD">
      <wsdl:input message="tns:VNDToUSDSoapIn" />
      <wsdl:output message="tns:VNDToUSDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="VNDToEUR">
      <wsdl:input message="tns:VNDToEURSoapIn" />
      <wsdl:output message="tns:VNDToEURSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="USDToVND">
      <wsdl:input message="tns:USDToVNDSoapIn" />
      <wsdl:output message="tns:USDToVNDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EURToVND">
      <wsdl:input message="tns:EURToVNDSoapIn" />
      <wsdl:output message="tns:EURToVNDSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="VNDToUSD">
      <soap:operation soapAction="http://tempuri.org/VNDToUSD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VNDToEUR">
      <soap:operation soapAction="http://tempuri.org/VNDToEUR" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="USDToVND">
      <soap:operation soapAction="http://tempuri.org/USDToVND" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EURToVND">
      <soap:operation soapAction="http://tempuri.org/EURToVND" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="VNDToUSD">
      <soap12:operation soapAction="http://tempuri.org/VNDToUSD" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VNDToEUR">
      <soap12:operation soapAction="http://tempuri.org/VNDToEUR" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="USDToVND">
      <soap12:operation soapAction="http://tempuri.org/USDToVND" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EURToVND">
      <soap12:operation soapAction="http://tempuri.org/EURToVND" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="https://localhost:44319/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="https://localhost:44319/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>